<ul class="navbar-nav">
    @if (User.Identity.IsAuthenticated)
    {
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-page="">Здравствуйте, @User.Identity.Name!</a>
        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="" asp-controller="Account" asp-action="LogOff" asp-route-returnUrl="@Url.Action("Directory", "Home", new { area = "" })">
                <button type="submit" class="nav-link btn btn-link text-dark"><i class="fa fa-sign-out"></i> Выйти</button>
            </form>
        </li>
    }
    else
    {
        <!--
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account"  asp-action="Register">Register</a>
        </li>-->
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Login"><i class="fa fa-sign-in"></i> Войти</a>
        </li>
    }
</ul>